{{#goods}}
	<div class="content-item">
		<div class="content-imgwrapper">
			<img class="content-img lazy" data-original="{{imgUrl}}">
		</div>
		<h1 class="goodsName">{{goodsname}}</h1>
		<span class="goodsSalePrice">&yen; {{goodsSalePrice}}</span>
		<del class="goodsRealPrice">&yen; {{goodsRealPrice}}</del>
	</div>
{{/goods}}
